################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EGRT0-Solution.slnLaunch.user
/Aaronbackend/obj/Debug/net9.0
/Aaronbackend/bin/Debug/net9.0/Aaronbackend.dll
/Aaronbackend/bin/Debug/net9.0/Aaronbackend.exe
/Aaronbackend/bin/Debug/net9.0/Aaronbackend.pdb
/Aaronbackend/obj/Debug/net9.0/EndpointInfo/Aaronbackend.json
/Aaronbackend/obj/Debug/net9.0/ref/Aaronbackend.dll
/Aaronbackend/obj/Debug/net9.0/refint/Aaronbackend.dll
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.AssemblyInfo.cs
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.AssemblyInfoInputs.cache
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.csproj.FileListAbsolute.txt
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.dll
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.assets.cache
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.pdb
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.genruntimeconfig.cache
/Aaronbackend/obj/Debug/net9.0/apphost.exe
/Aaronbackend/obj/Debug/net9.0/ApiEndpoints.json
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.GeneratedMSBuildEditorConfig.editorconfig
/Aaronbackend/obj/project.nuget.cache
/Aaronbackend/obj/project.assets.json
/Aaronbackend/obj/Aaronbackend.csproj.nuget.dgspec.json
/blazortest/blazortest.csproj.user
