################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EGRT0-Solution.slnLaunch.user
/Aaronbackend/obj/Debug/net9.0
/Aaronbackend/bin/Debug/net9.0/Aaronbackend.dll
/Aaronbackend/bin/Debug/net9.0/Aaronbackend.exe
/Aaronbackend/bin/Debug/net9.0/Aaronbackend.pdb
/Aaronbackend/obj/Debug/net9.0/EndpointInfo/Aaronbackend.json
/Aaronbackend/obj/Debug/net9.0/ref/Aaronbackend.dll
/Aaronbackend/obj/Debug/net9.0/refint/Aaronbackend.dll
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.AssemblyInfo.cs
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.AssemblyInfoInputs.cache
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.csproj.FileListAbsolute.txt
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.dll
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.assets.cache
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.pdb
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.genruntimeconfig.cache
/Aaronbackend/obj/Debug/net9.0/apphost.exe
/Aaronbackend/obj/Debug/net9.0/ApiEndpoints.json
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.GeneratedMSBuildEditorConfig.editorconfig
/Aaronbackend/obj/project.nuget.cache
/Aaronbackend/obj/project.assets.json
/Aaronbackend/obj/Aaronbackend.csproj.nuget.dgspec.json
/blazortest/blazortest.csproj.user
/blazortest/blazortest.csproj
/Aaronbackend/obj/Release/net9.0/Aaronbackend.AssemblyInfo.cs
/Aaronbackend/obj/Release/net9.0/Aaronbackend.assets.cache
/Aaronbackend/obj/Release/net9.0/Aaronbackend.AssemblyInfoInputs.cache
/Aaronbackend/obj/Release/net9.0/Aaronbackend.GeneratedMSBuildEditorConfig.editorconfig
/Aaronbackend/bin/Debug/net9.0/
/Aaronbackend/obj/Debug/net9.0
/Aaronbackend/bin/Debug/net9.0/cs
/Aaronbackend/bin/Debug/net9.0/de
/Aaronbackend/bin/Debug/net9.0/es
/Aaronbackend/bin/Debug/net9.0/fr
/Aaronbackend/bin/Debug/net9.0/it
/Aaronbackend/bin/Debug/net9.0/ja
/Aaronbackend/bin/Debug/net9.0/ko
/Aaronbackend/bin/Debug/net9.0/pl
/Aaronbackend/bin/Debug/net9.0/pt-BR
/Aaronbackend/bin/Debug/net9.0/ru
/Aaronbackend/bin/Debug/net9.0/tr
/Aaronbackend/bin/Debug/net9.0/zh-Hans
/Aaronbackend/bin/Debug/net9.0/zh-Hant

/Aaronbackend/bin/Debug/net9.0/Aaronbackend.deps.json
/Aaronbackend/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.csproj.AssemblyReference.cache
/Aaronbackend/obj/Debug/net9.0/Aaronbackend.csproj.CoreCompileInputs.cache
/Aaronbackend/obj/Aaronbackend.csproj.nuget.g.targets
/Aaronbackend/obj/Aaronbackend.csproj.nuget.g.props
/Aaronbackend/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/Aaronbackend/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/Aaronbackend/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Aaronbackend/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
/Aaronbackend/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
