################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EGRT0-Solution.slnLaunch.user
/Aaronbackend/obj/Debug/net9.0
