$primary-color: #FAF3E0;
$secondary-color: #9B1C31;

// Common Styles
.teriary-color {
    background-color: $secondary-color !important;
}

body {
    background-color: $primary-color !important;
    font-family: 'Arial', sans-serif;
}

// Button Mixin (Reusability)
@mixin button-styles {
    width: 10rem;
    color: $primary-color;
    background-color: $secondary-color;
    margin: 1rem 0rem;

    &:hover {
        color: $secondary-color;
        background-color: $primary-color;
        border: 1px solid $secondary-color;
        box-shadow: 0px 1px 10px rgba($secondary-color, 1);
    }
}

.swal2-container {
    z-index: 9999 !important; /* Ensures SweetAlert is always on top */
}

// Main Container Styling
.welcome-MudContainer {
    margin: 2rem 0rem;
    color: $secondary-color;
    // Ensure all buttons inside this container follow the same style
    .btn-add-vehicle {
        @include button-styles;
    }

    .Welcoming-MudGrid-Boxes {
        .mud-grid-item {
            margin: 2rem 3rem;

            .mud-paper {
                width: 90%;
                height: 10rem;
                background-color: $secondary-color;
                color: $primary-color;

                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;
                    border: 1px solid $secondary-color;
                }
            }
                //.mud-typography {
                //    color: black;
                //}
        }
    }
}

// Add Vehicle Container
.Add-vehicle-Container-box {
    width: 100% !important;

    .mud-card {
        width: 500px !important;
        border: 2px solid $secondary-color !important;
    }

    .btn-Add-vehicle-container-box-submit-button {
        @include button-styles;
        margin: 0 0 1rem 0;
        width: 100%;
    }

    .btn-Add-vehicle-container-box-close-button {
        background-color: $secondary-color !important;
        color: $primary-color !important;
        font-weight: bold !important;
        border-radius: 8px !important;
        padding: 10px !important;
        transition: background-color 0.3s ease !important;

        &:hover {
            background-color: $primary-color !important;
            color: $secondary-color !important;
            border: 1px solid $secondary-color;
        }

        &:disabled {
            background-color: gray !important;
        }
    }
}


//Signup
.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00f260, #0575e6); 
}

.signup-form {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.signup-logo {
    display: block;
    margin: 0 auto 1rem auto;
    width: 80px;
    height: 80px;
}